# Quartus II gerados automaticamente
db/
incremental_db/
output_files/
simulation/
*.rpt
*.smsg
*.summary
*.done
*.pin
*.flow.rpt
*.map.rpt
*.fit.rpt
*.asm.rpt
*.sta.rpt
*.eda.rpt
*.sopcinfo
greybox_tmp/

# Arquivos de backup do Quartus
*.bak

# Arquivos de workspace do Quartus
*.qws

# Arquivos temporários do sistema
.DS_Store
Thumbs.db
